:root {
  --background: #474a48;
  --primary: #7b0828;
  --secondary: #8daa9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.header {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.logo {
  height: 40%;
}

.navbar,
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 65px;
  padding: 0px 30px;

  background: var(--background);
  font-weight: 600;
}

.navbar {
  gap: 100px;
}

.navbar img {
  height: 40px;
  width: 45px;
}
.navbar-list a {
  color: var(--secondary);
  font-size: 20px;
}

main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  width: 100%;
}

#hero {
  margin-top: 50px;
  padding: 50px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero span {
  font-weight: 800;
  color: crimson;
}
#hero p {
  font-size: 22px;
}

.info-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.botones a {
  border-radius: 10px;
  font-size: 18px;
  color: var(--secondary);
  background-color: var(--primary);
  padding: 8px 0;
  text-align: center;
  width: 100px;
}

.botones {
  display: flex;
  gap: 20px;
}

.info-div h1 {
  font-size: 65px;
  width: 50%;
  font-weight: 1000;
}

.div-card img {
  width: 300px;
  height: 300px;
}

.text-des p {
  font-size: 20px;
  color: var(--secondary);
  text-align: center;
}

.text-des {
  padding: 20px 200px;
}
